
@{
    ViewBag.Title = "Access Denied";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>401</h1>
    <h3 class="font-bold">Access Denied.</h3>

    <div class="error-desc">
        @ViewBag.Message
    </div>
</div>
