@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--App icon-->
    <link rel="icon" href="~/images/tegu.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/tegu.ico" type="image/x-icon" />

    <title>Tegu | DSC Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" type="text/css" />

</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">An unexpected error has occurred. Please contact your administrator.</h3>

        <div class="error-desc">
            @ViewBag.Message
        </div>
    </div>

</body>
</html>

