
@{
    ViewBag.Title = "Internal Error";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">An unexpected error has occurred. Please contact your administrator.</h3>

    <div class="error-desc">
        @ViewBag.ErrorMessage
    </div>
</div>


